<a href="/person/index">List</a>
<h2>Person Create form</h2>
<form action="/person/create" method="POST">
 <table>
 
 <tr><td>Name<td><input type="text" name="Person[name]"><br/>
 <tr><td>Age<td><input type="text" name="Person[age]">
 <tr ><td><td><input type="submit" value="ADD">
</form>
