<a href="/person/create">+Create</a>|<a href="/person/index">List</a>|<a href="/person/update/<%= model.id %>">Update</a>

<h2>View <%=model.name%></h2>
<ul>
  <li>Name:<%=model.name %></li>
  <li>Age:<%=model.age %></li>
</ul>